<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mycss.css">
    <title>cozy_ed</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            background-image: url(login.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 80vh;
            width: 100%;
        }

        .loginbox {
            width: 620px;
            height: 220px;
            background: #34c9eb;
            color: #000;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 50px;
        }

        /*
.avatar{
    height: 100px;
    width: 100px;   
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 33%;
}
*/
        .loginbox p {
            font-size: 20px;
        }

        .loginbox input {
            width: 100%;
            margin-bottom: 20px;
        }

        .loginbox input[type="text"],
        input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .loginbox input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #2530fb;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
        }

        .loginbox input[type="submit"]:hover {
            cursor: pointer;
            background: goldenrod;
            color: #000;
        }

        .loginbox a {
            text-decoration: none;
            font-size: 15px;
            line-height: 10px;
            color: bisque;
        }

        .loginbox a:hover {
            color: darkgoldenrod;
        }
    </style>
</head>

<body>
    <div class="loginbox">
        <!--    <img src="avatar.jpg" class="avatar"> 
            <h1>Login Here</h1> -->
        <br>
        <form id="form--forgotemail">
            <p>Username or Email</p>
            <input type="email" id='email' placeholder="Enter Email">
            <!--                <p>Password</p>
                <input type="password" name="" placeholder="Enter Password"> -->
            <input type="submit" name="" value="SUBMIT">
            <!--                <a href="#">Forget Password?</a><br>
                <a href="#">Haven't registered?Register</a> -->
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>

    <script src="/js/index.js"></script>
    </body>
    </html>