*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('../images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;
}
.loginbox{
    width: 420px;
    height: 480px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px;
}
.avatar{
    height: 100px;
    width: 100px;   
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 33%;
}
.loginbox p{
    font-size: 20px;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #2530fb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: goldenrod;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 15px;
    line-height: 10px;
    color: bisque;
}
.loginbox a:hover{
    color: darkgoldenrod;
}


.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
    background-color: #20bf6b;
  }
  .alert--error {
    background-color: #eb4d4b;
  }
  

  .navbar-container{
    width:100%;
    display: flex;
    justify-content: space-between;
}

nav.navbar{
    position: fixed !important;width: 100% !important;
    z-index: 100;
    background-color: #000;
}
.navbar-nav a{
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .active> .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
}
.navbar-nav{
    text-align: center;
}
.nav-link{
    padding: .2rem 1rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .navbar-nav:hover{
    color: #000 !important;
}
.w-100{
    height: 100vh;
}
@media only screen and (max-width: 767px){
    .navbar-nav.ml-auto{
        background: rgba(0,0,0,0.5);
    }
}
