@import "https://fonts.googleapis.com/css?family=Lato:100";
*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: white;
}
h1{
    padding-top: 80px;
    text-align: center;
    color: white;
}

.team-wrapper{
    padding: 150px 0;
    min-height: 52vh;
    display: flex;
    justify-content: space-around;
}
.team-section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(.45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
.team-container{
    height:250px;
    width:180px;
    padding: 20px;
    position: relative;
    background: linear-gradient(#529fe9 50%,#1e202b 50%) 0% 100% no-repeat;
    background-size:100% 200% ;
    transition: 0.7s;
    overflow: hidden;
}
.img-wapper{
    height:100%;
    width:150%;
    position: relative;
}
.team-container img{
    width:100%;
    height:100%;
}
.team-container:hover{
    background-position: 0 0;
}
.details{
    position: absolute;
    background-color: #1e202b;
    color: white;
    width:80%;
    text-align: center;
    padding:10px 0;
    bottom: -70px;
    margin: auto;
    left: 0;
    right: 0;
    transition: 0.7s;
}
h3,
h5{
    font-family: "poppins",'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}
h3{
    letter-spacing: 1px;
    font-size: 14px;
}
h5{
    font-size: 12px;
}
.social-icons{
    width:100%;
    display: flex;
    justify-content:space-around;
    margin:0px 0 0px 0;
}
.team-container:hover .details{
    bottom: 10px;
}
.img-wapper:after{
    position: absolute;
    height: 100%;
    width:100%;
    background-color: black;
    top:0;
    left: 0;
    opacity: 0;
    transition: 0.7s;
}
i:hover {
    color: #529fe9;
    cursor: pointer;
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
@media screen and (min-width: 992px) {
    .wrapper{
        grid-template-columns: repeat(4, 1fr);
        gap: 0px;
    }
    .team-container{
        height:300px;
        width:250px;
        padding: 15px;
    }
    
}
